/*external  CSS page for all the catergory product pages  */
h5{
    color: black;

    }
    h6{
        color: black;
  
    }
    p{
        color: black;
    }

    .card{
        box-shadow: 2px 6px 8px 0 grey;
        
        
    }
    .card a{
        position: absolute;
        bottom: 0;
        left: 20%;
        right: 20%;
        margin-bottom: 5px;
        width: 60%;

    }
    .card p{
        margin-bottom: 50px;
    }
    .row{
        margin-bottom: 10px;
    }

